#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    combos {
        compatible = "zmk,combos";

        escc {
            bindings = <&kp ESC>;
            key-positions = <17 18>;
            layers = <0>;
        };

        questionmark {
            bindings = <&kp QUESTION>;
            key-positions = <28 44>;
        };

        dot {
            bindings = <&kp DOT>;
            key-positions = <28 45>;
        };

        comma {
            bindings = <&kp COMMA>;
            key-positions = <28 46>;
        };

        slash {
            bindings = <&kp SLASH>;
            key-positions = <28 47>;
        };

        underbar {
            bindings = <&kp UNDER>;
            key-positions = <43 28>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <31 40>;
        };

        colon {
            bindings = <&kp COLON>;
            key-positions = <28 35>;
        };

        plus {
            bindings = <&kp PLUS>;
            key-positions = <32 40>;
        };

        singlequote {
            bindings = <&kp SINGLE_QUOTE>;
            key-positions = <19 40>;
        };

        doublequote {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&lt 6 ESCAPE                &kp N1   &kp N2  &kp N3         &kp N4     &kp N5       &kp N6     &kp N7     &kp N8     &kp N9      &kp N0        &kp LEFT_WIN
&mt LEFT_ALT LA(TAB)        &kp Q    &kp W   &kp E          &kp R      &kp T        &kp Y      &kp U      &kp I      &kp O       &kp P         &kp TAB
&mt LEFT_CONTROL RIGHT_ALT  &kp A    &kp S   &kp D          &kp F      &kp G        &kp H      &kp J      &kp K      &kp L       &kp UP_ARROW  &mt RIGHT_CONTROL BACKSPACE
&mt LEFT_SHIFT DELETE       &lt 3 Z  &kp X   &kp C          &kp V      &kp B        &kp N      &kp M      &kp COMMA  &lt 4 LEFT  &kp DOWN      &mt LEFT_SHIFT RIGHT
                                             &kp BACKSPACE  &mkp LCLK  &mkp RCLK    &mkp MCLK  &kp SPACE
                                                            &kp ENTER  &kp SPACE    &kp ENTER
            >;
        };

        layer_1 {
            bindings = <
&kp TILDE         &kp EXCLAMATION  &kp HASH      &kp DOLLAR    &kp DOLLAR    &kp PERCENT    &kp CARET  &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDERSCORE
&kp GRAVE         &kp NUMBER_1     &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp LBKT       &kp RBKT   &kp F1         &kp F2        &kp F3                &kp F4                 &kp DEL
&kp LEFT_CONTROL  &kp NUMBER_5     &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &none          &kp BSLH   &kp F5         &kp F6        &kp F7                &kp F8                 &kp PAGE_UP
&kp LSHFT         &kp NUMBER_9     &kp NUMBER_0  &kp MINUS     &kp EQUAL     &none          &trans     &kp F9         &kp F10       &kp F11               &kp F12                &kp PAGE_DOWN
                                                 &kp LEFT_WIN  &kp SPACE     &trans         &kp ENTER  &kp BACKSPACE
                                                               &none         &none          &trans
            >;
        };

        layer_2 {
            bindings = <
&kp F12           &kp F1      &kp F2      &kp F3         &kp F4         &kp F5          &kp F6        &kp F7         &kp F8    &kp F9     &kp F10  &kp F11
&kp LS(GRAVE)     &kp LS(N1)  &kp LS(N2)  &kp LS(N3)     &kp LS(N4)     &kp LS(LBKT)    &kp LS(RBKT)  &none          &trans    &none      &none    &trans
&kp LEFT_CONTROL  &kp LS(N5)  &kp LS(N6)  &kp LS(N7)     &kp LS(N8)     &none           &kp LS(BSLH)  &trans         &kp UP    &trans     &trans   &trans
&kp LEFT_SHIFT    &kp LS(N9)  &kp LS(N0)  &kp LS(MINUS)  &kp LS(EQUAL)  &none           &none         &kp LEFT       &kp DOWN  &kp RIGHT  &none    &trans
                                          &kp LEFT_ALT   &kp SPACE      &kp ENTER       &trans        &kp BACKSPACE
                                                         &trans         &trans          &none
            >;
        };

        Mouse {
            bindings = <
&none        &none         &none         &none         &none      &none         &none       &none      &none         &none         &none         &none
&none        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &none      &bt BT_CLR    &bt BT_CLR  &none      &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &none
&none        &trans        &trans        &mkp MCLK     &trans     &none         &none       &trans     &mkp MCLK     &trans        &trans        &none
&bootloader  &trans        &mkp RCLK     &mo 4         &mkp LCLK  &mo 5         &mo 5       &mkp LCLK  &mo 4         &mkp RCLK     &trans        &bootloader
                                         &mo 5         &mkp LCLK  &mkp RCLK     &mkp RCLK   &mkp LCLK
                                                       &none      &trans        &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &mkp MCLK  &trans     &trans       &trans     &trans     &mkp MCLK  &trans     &trans  &trans
&trans  &trans  &mkp RCLK  &trans     &mkp LCLK  &trans       &trans     &mkp LCLK  &trans     &mkp RCLK  &trans  &trans
                           &trans     &mkp LCLK  &mkp RCLK    &mkp RCLK  &mkp LCLK
                                      &trans     &trans       &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &mkp MCLK  &trans     &trans       &trans     &trans     &mkp MCLK  &trans     &trans  &trans
&trans  &trans  &mkp RCLK  &trans     &mkp LCLK  &trans       &trans     &mkp LCLK  &trans     &mkp RCLK  &trans  &trans
                           &trans     &mkp LCLK  &mkp RCLK    &mkp RCLK  &mkp LCLK
                                      &trans     &trans       &trans
            >;
        };

        layer_7 {
            bindings = <
&mt LEFT_ALT ESCAPE         &kp N1  &kp N2  &kp N3           &kp N4                  &kp N5       &kp N6                        &kp N7                      &kp N8                 &kp N9      &kp N0                     &mt LS(LA(LEFT_WIN)) PERIOD
&mt LS(LCTRL) LA(TAB)       &kp Q   &kp W   &kp E            &kp R                   &kp T        &kp Y                         &kp U                       &kp I                  &kp O       &kp P                      &mt LA(LEFT_WIN) MINUS
&mt LEFT_CONTROL RIGHT_ALT  &kp A   &kp S   &kp D            &kp F                   &kp G        &kp H                         &kp J                       &kp K                  &kp L       &mt LC(LEFT_WIN) UP_ARROW  &mt LS(LC(LEFT_WIN)) BACKSPACE
&mt LEFT_SHIFT DELETE       &kp Z   &kp X   &kp C            &kp V                   &kp B        &kp N                         &kp M                       &mt LS(LEFT_ALT) PLUS  &lt 4 LEFT  &mt LS(LC(LEFT_ALT)) DOWN  &mt LS(LEFT_WIN) RIGHT
                                            &lt 0 BACKSPACE  &mkp LCLK               &mkp RCLK    &mt LEFT_WIN ENTER            &mt LC(LA(LEFT_WIN)) SPACE
                                                             &mt LC(LEFT_ALT) ENTER  &kp SPACE    &mt LS(LC(LA(LEFT_WIN))) TAB
            >;
        };
    };
};
